.wrapper {
    color: cyan;
    display: grid;
    grid-template-areas: "n t";
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.chatsName {
    color: white;
    opacity: 0.8;
    grid-area: n;
}

.chatsText {
    color: white;
    opacity: 0.8;
    grid-area: t;
}

a {
    color: white;
    text-decoration: none;
}