.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n c"
    "f f";
    grid-template-rows: 1fr 10fr 0.7fr;
    grid-template-columns: 1.2fr 10fr;
    grid-gap: 7px;
    height: 100vh;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #941515;

}




