.nav {
    grid-area: n;
    background-color: lightgrey;
    padding: 20px;
}

.item a {
    color: white;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

a.active {
    color: #7907fd;
}

a:hover {
    opacity: 0.5;
}