.nav {
    grid-area: n;
    background-color: #1D1729;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 30px;

}

a.active {
    color: #5F2DDE;
}

a:hover {
    opacity: 0.5;
}